[Unit]
Description=PS3 VRAM Swap Initialization

[Service]
Type=oneshot
ExecStart=/sbin/wipefs -a /dev/ps3vram && /sbin/mkswap /dev/ps3vram && /sbin/swapon /dev/ps3vram -p10
ExecStop=/sbin/swapoff /dev/ps3vram

[Install]
WantedBy=multi-user.target
